body{
    display: flex;
    justify-content: center;
}

.contenedor{
    width: 500px;
    background-color: yellow;
    display: flex;
    flex-direction: column;

}

li{
    font-size: 25px;
    color: red;
}

img{
    width: 400px;
    align-self: center;
}

a:visited{
color: green;    
}